# Step 1 - Exercise Follow Along

## Importing Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# creating path variable
path = r'/Users/paigepearson/Desktop/Data Analytics/Immersion Course/Achievement 4/Instacart Basket Analysis'

## Importing dataframes

In [3]:
# importing orders_checked.csv
df_ords = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'orders_checked.csv'), index_col = 0)

In [4]:
# importing products_checked.csv
df_prods = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

In [5]:
# importing order_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [6]:
# checking dimensions of new dataframe df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [7]:
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [9]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [10]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [11]:
df_ords.shape

(3421083, 7)

In [12]:
# merging df_ords_prior and df_ords 
df_ords_merged = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
# checking merge
df_ords_merged.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [14]:
df_ords_merged.shape

(32434489, 11)

In [15]:
# checking the counts of _merge to see if it is a full merge or not, misleading though, need to check with different how argument
df_ords_merged['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

## Step 2 - Export the merged file in pickle format as “orders_products_combined.pkl”.

In [15]:
# exporting merged dataframe using pickle format
df_ords_merged.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))